/* {
    background: url("https://wallpapercave.com/wp/cK5lWzk.jpg") no-repeat center center/cover;
}
/*https://www.pexels.com/photo/301930/download/?search_query=office&tracking_id=x2vv1zu1ct&w=1920&h=1280*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #c3c3c3;
}

.bg-dark {
    background: #333;
    color: white;
}

.bg-primary {
    background: #c3c3c3;
    color: #333;
}
.logo {
    display: flex;
}

.logo img {
    height: 2rem;
    width: 2rem;
}

.logoo {
    font-family: "Times New Roman", sans-serif;
}

.l-heading r{
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.btn {
    display: inline-block;
    background: #333;
    color: white;
    padding: 0.5rem 0.8rem;
    border:none;
    border-radius: 0.2rem;
}

.btn:hover {
    background: #c3c3c3;
    color: #333;
}

.btnn {
    display: inline-block;
    background: #333;
    color: white;
    padding: 0.5rem 0.8rem;
    border:none;
    border-radius: 0.2rem;
}

.btnn:hover {
    background: white;
    color: #333;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

/* Navbar */
#navbar {
    display:flex;
    position: sticky;
    top:0;
    background: #333;
    color: white;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #c3c3c3;
    color: #333;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: #333 url("https://i.postimg.cc/t4cSPdqp/background.jpg") no-repeat center center/cover;
    height: 90vh;
    color: white;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background: rgba(0,0,0,0.3);    
}

/* What we do */
#what .items {
    display: flex;
    padding: 1rem;
    margin: none;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background: #c3c3c3;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Who we are */
#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url("https://images.pexels.com/photos/3184328/pexels-photo-3184328.jpeg?cs=srgb&dl=man-in-beige-blazer-holding-tablet-computer-3184328.jpg&fm=jpg") no-repeat center center/cover;
    margin: none;
}

/* Clients */
#clients {
    display: flex;
    flex-direction: column;
}

.itemmm{
    text-align: center;
    padding-top: 2rem;
}
#clients .itemsss {
    display:flex;
    justify-content: center;
}

#clients .itemsss .logosss{
    padding: 2rem 5rem;
}
#clients .itemsss .logosss img{
    width:5rem;
    height:5rem;
}

/* Contact */
#contact {
    display: flex;
}

#contact .map, #contact .contact-form{
    flex:1;
}

#contact .contact-form .form-group {
    margin:0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}