/* {
    background: url("https://wallpapercave.com/wp/cK5lWzk.jpg") no-repeat center center/cover;
}
/*https://www.pexels.com/photo/301930/download/?search_query=office&tracking_id=x2vv1zu1ct&w=1920&h=1280*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #c3c3c3;
}

.logo {
    display: flex;
}

.logo img {
    height: 2rem;
    width: 2rem;
}

.logoo {
    font-family: "Times New Roman", sans-serif;
}

.l-heading {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

.btn {
    display: inline-block;
    background: #333;
    color: white;
    padding: 0.5rem 0.8rem;
    border:none;
    border-radius: 0.2rem;
}

.btn:hover {
    background: #c3c3c3;
    color: #333;
}

.py-1 {padding: 1.5rem 0;}
.py-1 {padding: 2rem 0;}
.py-1 {padding: 3rem 0;}

/* Navbar */
#navbar {
    display:flex;
    position: sticky;
    top:0;
    background: #333;
    color: white;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #c3c3c3;
    color: #333;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: #333 url("https://wallpapercave.com/wp/cK5lWzk.jpg") no-repeat center center/cover;
    height: 90vh;
    color: white;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background: rgba(0,0,0,0.3);    
}

/* What we do */
#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background: #c3c3c3;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Who we are */
#who {
    display: flex;
}

#who div {
    flex: 1;
}
